@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

body {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  background-color: white;
  margin: 0;
  padding: 40px;
  justify-content: center;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 70px;
  margin-top: 60px;
  justify-content: center;
}

.album {
  width: 100px;
  height: 75px;
  background-color: #7AB4FF;
  border-radius: 10px;
  font-style: italic;
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: 12px;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
}

.outerbox {
  background-color: #99C5FF;
  text-align: center;
  width: 1000px;
  height: 800px;
  margin-left: 300px;
  margin-top: 100px;
  border-radius: 20px;
}

.topbox {
  background-color: #7AB4FF;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  width: 960px;
  height: 100px;
  margin-top: -80px;
  border-radius: 20px;
}

.icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.center-me {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: 24px;
}