@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

body {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  background-color: white; /how do i make a box behind the files?/
  margin: 0;
  padding: 40px;
  justify-content: center;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 70px;
  margin-top: 60px;
  justify-content: center;
}

.album {
  width: 100px;
  height: 75px;
  background-color: #7AB4FF;
  border-radius: 10px;
  font-style: italic;
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: 12px;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
}

.outerbox{
  background-color:#99C5FF;
  text-align:center;
  width:1000px;
  height:800px;
  margin-left: 300px; 
  margin-top: 30px; 
  border-radius: 20px;
}

.topbox {
    background-color: #7AB4FF;
    text-align: center;
    width: 1000px;
    height: 100px;
    margin-top: -80px;
    border-radius: 20px;
}

img {
    margin-right: 900px;
    margin-top: 20px;
    width: 5%;
    height: auto;
}

.sound-icon {
    margin-left: 900px;   /* why is it not working??? bot icons are just on the left, but why? */
    margin-top: 20px;
    width: 5%;
    height: auto;
}