@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Jacquarda+Bastarda+9&family=Titan+One&display=swap');

.center-me {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: 30px;
}

.icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.diary-entry {
  position: relative;
  width: 700px;
}

.diary-entry img {
  width: 100%;
  display: block;
}

.diary-text {
  position: absolute;
  top: 20px;   
  left: 20px;  
  right: 20px;
  color: #333; 
  font-family: "Jacquarda Bastarda 9", system-ui; 
  font-size: 30px;
}

@media (max-width: 768px) {
  .center-me {
    font-size: 50%;
  }
  .diary-entry {
    width:40%;
  }
  .diary-text {
    font-size: 40%;
  }
}

