@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Jacquarda+Bastarda+9&family=Titan+One&display=swap');

.outerbox {
  background-color: #ffe0ec;
  text-align: center;
  width: 1000px;
  height: 800px;
  margin-left: 300px;
  margin-top: 100px;
  border-radius: 20px;
}

.topbox {
  background-color: #ffbad5;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  width: 960px;
  height: 100px;
  margin-top: -80px;
  border-radius: 20px;
}

.icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.center-me {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  font-size: 24px;
}

.gallery {
  display: inline-block;
  border: 1px solid #ff87b6;
  margin: 10px auto;
  vertical-align: top;
  width: fit-content;
}

.photo {
  width: 80%; 
  height: auto;
}

.description {
    font-family: 'Jacquarda Bastarda 9', sans-serif;
}

.gallery .description {
  padding: 10px;
  text-align: center;
}

.gallery:hover {
  border: 5px solid #ffffff;
}
