@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

body {
  font-family: 'Bitcount Prop Single Ink', sans-serif;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 480px;
  gap: 20px;
  justify-content: center;
}

.album {
  width: 100px;
  height: 75px;
  background-color: #99C5FF;
  font-size: 14px;
  color: black;
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;

  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}